.modal-container{
    width:500px;
    max-height: 600px;
}

input {
    display: flex;
    padding: var(--gap-s);
    flex: 1;
    max-width: 320px;
    align-self: flex-start;
    border: 3px solid var(--periwinkle);
    background-image: var(--vanilla);
    outline: none; 
    border-radius: 5px; 
    color: var(--rich-black);
}

input:hover,
input:active,
input:focus {
    border: 3px solid var(--jasmine);
}

input:focus {
    outline: none; 
}

.form-group {
    color:var(--naples-yellow-2);
    display: flex;
    justify-content: space-between;
    gap: var(--gap-m);
    margin-top: 20px;
    margin-bottom: 20px;
}
  
.form-group label {
    align-self: flex-end;
}

.modal-header {
    margin-top: 20px;
    text-align: center;
}

.modal-footer{
    display: flex;
    justify-content: space-between;
}

.login-btn {
    flex-grow: 1;
    text-align: center;
    max-height: 65px;
    min-height: 55px;
    padding: 15px;
    margin-top: 20px;
    background-color: var(--naples-yellow);
    color: var(--rich-black);
    transition: background-color 0.3s ease;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

.login-btn:hover {
    background-color: var(--jasmine);
    transform: scale(1.01);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
}
  
.login-btn.active{
    background-color: var(--naples-yellow-2);
}

span {
    color:var(--jasmine);
    font-family: var(--default);
    font-size: 50px;
}



.errors {
    color: var(--lapis-lazuli);
    text-align: center;
    margin-top: 5px;
}
  
.centered {
    text-align: center;
}

label, button {
    font-family: var(--default);
    font-size: 16px;
}


::placeholder {
    font-family: var(--default);
    font-size: 12px;
}



@media (max-width: 1050px) and (min-width: 700px) {
    .modal-container{
        max-width:450px;
    }

    input {
        max-width: 230px;
    }
    
    .login-btn {
        max-height: 55px;
        min-height: 45px;
        padding: 13px;
        margin-top: 20px;
    }

}
    
@media (max-width: 480px) and (min-width: 350px) {
    .modal-container{
        max-width:250px;
        max-height: 500px;
    }
    
    input {
        max-width: 120px;
    }
    
    
    .form-group {
        margin-top: 12px;
        margin-bottom: 12px;
    }

    .modal-header {
        margin-top: 12px;
    }
    
    
    .login-btn {
        height: 35px;
        padding: 12px;
        margin-top: 12px;
    }

    span {

        font-size: 35px;
    }
    
    label, button {
        font-size: 14px;
    }
    
    
    ::placeholder {
        font-size: 10px;
    }
}