.property-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    width: 300px;
    height:500px;
    text-align: left;
  }
  
  .property-image {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .property-title {
    font-size: 20px;
    margin: 0;
  }
  
  .property-type {
    font-size: 16px;
    color: #555;
    margin-top: 5px;
  }
  
  .property-status {
    font-size: 16px;
    color: #555;
  }
  
  .property-description {
    font-size: 16px;
    color: #444;
    margin-top: 10px;
  }
  
  .property-location,
  .property-rental-price,
  .property-selling-price {
    font-size: 14px;
    color: #777;
    margin-top: 5px;
  }
  
  .property-upgrades {
    font-size: 14px;
    color: #777;
    margin-top: 10px;
  }
  
  .property-upgrade-list {
    list-style-type: disc;
    margin-left: 20px;
    padding-left: 15px;
  }
  
  .property-done-upgrades {
    font-size: 14px;
    color: #777;
    margin-top: 10px;
  }
  
  .property-upgrade-list li {
    margin-bottom: 5px;
  }
  
  /* Media Query for Responsive Design */
  @media (max-width: 768px) {
    .property-card {
      width: 100%;
    }
  }