.purchases-card {
  display: flex;
  flex-direction: row;
  width: 800px;
  padding: 20px;
  margin: 10px;
  background-color: #f5f5f5;
  color: #333;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  line-height: 1.5;
  transition: background-color 0.3s; 
}

.purchases-card:hover {
  background-color: #e0e0e0; 
  cursor: pointer;
}

.p-img {
  justify-content: center;
  align-items: flex-start;
  max-width: 300px;
  min-height: 250px;
  max-height: 250px;
}

.p-right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 80px;
}

.p-top-right{
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 80px;
}


@media (max-width: 1050px) and (min-width: 700px) {
  .purchases-card {
    width: 500px;
    font-size: 16px;
  }

  .p-img {
    max-width: 200px;
    min-height: 170px;
    max-height: 170px;
  }

  }
    
  @media (max-width: 480px) and (min-width: 350px) {
    .purchases-card {
      display: flex;
      flex-direction: column;
      align-content: center;
      min-width: 250px;
      max-width: 330px;
      max-height: 650px;
      font-size: 15px;

    }
    
    .p-img {
      justify-content: center;
      align-self: center;
      max-width: 240px;
      min-height: 250px;
      max-height: 250px;
    }
    
    .p-right{
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 10px;
    }
    
    .p-top-right{
      display: flex;
      flex-direction: row;
      gap: 20px;
      margin-bottom: 20px;
    }
  }

  /* PurchaseCard.css */

.purchases-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.p-img {
  flex: 1;
  font-weight: bold;
}

.p-right {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.p-top-right {
  display: flex;
  justify-content: space-between;
}

.p-order,
.p-user {
  margin: 5px 0;
}

.p-bottom-right {
  margin-top: 10px;
}

.p-time {
  font-style: italic;
  color: #888;
}


