.update-user-form-container {
    width: 600px;
    margin: 0 auto;
    padding: 40px;
    background-color: var(--jasmine);
    color: var(--rich-black);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .update-user-form-container h2 {
    margin-bottom: 30px;
    text-align: center;
  }
  
  .update-user-form-container form div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .update-user-form-container label {
    flex-basis: 40%;
    font-weight: bold;
  }
  
  .update-user-form-container input {
    flex-basis: 55%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }
  
  .update-user-form-container button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .update-user-form-container button:hover {
    background-color: #555;
  }


  @media (max-width: 1050px) and (min-width: 700px) {
    
  }
  
  @media (max-width: 480px) and (min-width: 350px) {
    .update-user-form-container {
      width: 280px;
      padding: 20px;
    }
    
    .update-user-form-container h2 {
      margin-bottom: 15px;
    }
    
    .update-user-form-container form div {
      margin-bottom: 15px;
    }

    
    .update-user-form-container input {

      padding: 5px;
      border-radius: 5px;
    }
    
    .update-user-form-container button {
      padding: 7px 14px;
    }
    
  }
  




  