/*body {
  background-color: var(--naples-yellow);
}*/
svg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.out-top {
  fill: var(--vanilla); 
}

.in-top {
  fill: var(--davys-gray); 
}

.out-bottom {
  fill: var(--jasmine); 
}

.in-bottom {
  fill: var(--rose-quartz); 
}






  
