/*@keyframes circle {
    from {
      transform: scale(0);
      opacity: 1;
    }
    to {
      transform: scale(16);
      opacity: 0;
    }
  }
  
  .circle {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      position: absolute;
      top: 44%;
      left: 45%;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
      transform: translateZ(0); 
      box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
    }
  
  .one {
    animation: circle 12s 10s infinite linear;
    background: var(--pakistan-green);
  }

  
  .two {
    animation: circle 12s 8s infinite linear;
    background: var(--pakistan-green-2);
  }
  
  .three {
    animation: circle 12s 6s infinite linear;
    background: var(--dark-moss-green);
  }

  .four {
    animation: circle 12s 4s infinite linear;
    background: var(--avocado);
  }
  
  .five {
    animation: circle 12s 2s infinite linear;
    background: var(--asparagus);
  }
  
  .six {
    animation: circle 12s 0s infinite linear;
    background: var(--pistachio);
  }
*/

body {
  background-color: var(--naples-yellow);
}
svg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.out-top {
  fill: var(--purple); 
}

.in-top {
  fill: var(--pistachio); 
}

.out-bottom {
  fill: var(--jordy-blue); 
}

.in-bottom {
  fill: var(--coral-pink); 
}






  
