/*.about-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .full-screen-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f5; 
  }
  
  .full-screen-view h2 {
    margin-bottom: 20px;
  }



  /* ContactUs */
/*
.contact-us-container {
  background-color: blue;
  width: 100%;
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
}


/* faq */
/*
.faq{
  background-color: salmon;
}*/

.about-page {
  display: flex;
  flex-direction: column;
}

.full-screen-view, .contact-us-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh; /* Use min-height to allow for content expansion */
  background-color: #f5f5f5;
}

.full-screen-view h2 {
  margin-bottom: 20px;
}

.contact-us-container {
  background-color: blue;
}

/* TermsView */
.terms {
  background-color: #ffd700;
}

/* FAQView */
.faq {
  background-color: salmon;
}