.about-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: scroll; 
  scroll-snap-type: y mandatory; 
}

  
.full-screen-view h2 {
  margin-bottom: 20px;
}


  /* ContactUs */

.contact-us-container {
  background-color: var(--cornsilk);
  width: 100%;
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
}

/*termesView*/
.terms-view{
  background-color: var(--vanilla);
}


/* faq */
.faq{
  background-color: var(--jasmine);
}