.admin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color:var(--jasmine) ;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.button-container {
    margin-top: 20px;
}

.generate-button {
    background-color: var(--black);
    color: var(--naples-yellow);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.generate-button:hover {
    background-color: var(--eerie-black);
}