.home-page {
  display: flex;
  flex-direction: column;
}

.full-screen-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh; /* Use min-height to allow for content expansion */
}

h2 {
  margin-top: 120px;
  color: white;
  text-align: center;
}

/* TopUsers */
.users-container {
  background-color: red;
}

/* TopItems */
.items-container {
  background-color: yellow;
}

/* Trends */
.trends-container {
  background-color: green;
}

/* Item/User/Trend Cards */
.item-card,
.user-card,
.trend-card {
  width: 300px;
  height: 400px;
  margin: 10px; /* Add some spacing between cards */
  background-color: #fff;
}