*, *::before, *::after {
  box-sizing: border-box;
}

h1 {
  margin-top: 100px;
 font-size: 35px;
 color: aliceblue;
}

/* Layout */
.s-layout {
  font-family: var(--default);
  font-size: 18px;
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.s-layout__sidebar {
  width: 350px;
  border: solid 5px red;
  flex: 0 0 var(--sidebar-width, 350px); 
  transition: flex 0.3s ease; 
  overflow: hidden;
  
}

.sidebar-collapsed .s-layout__sidebar {
  --sidebar-width: 50px; 
}

.s-layout__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  border: solid 5px green;
  margin-left: 0px; 
  overflow: hidden; 
}

.scroll-content {
  flex: 1;
  overflow-y: auto; 
}

.content-title{
  border: solid 3px gray;
  width: 100%;
  text-align: center;
}

.content-list{
  border: solid 3px blue;
}


.sidebar-expanded .s-layout__sidebar {
  width: 350px;
}

.sidebar-collapsed .s-layout__sidebar {
  width: 0;
  overflow: hidden;
}

.toggle-sidebar-btn {
  position: fixed;
  bottom: 20px;
  left: 20px;
  padding: 10px;
  background-color: var(--picton-blue);
  color: white;
  border: none;
  cursor: pointer;
}

