/*layout*/
:root {
  --scale: 0.1;
  --space: 3vmin;
  --font-primary: var(--default);
  --font-heading: var(--title);
}

@media (prefers-reduced-motion) {
  :root {
    --scale: 0;
  }
}

* {
  box-sizing: border-box;
}

.footer {
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  height: 20vh;
  color:var(--jasmine)
}

.section {
  transform-origin: center top;
  transform: scaleY(calc(1 - 10px));
}

.section > * {
  transform-origin: center top;
  transform: scaleY(calc(1 / (1 - 10px)));
}


.content {
  font-family: var(--default);
  position: relative;
  margin: -50vh auto 0;
  padding: var(--space);
  max-width: 650px;
  width: calc(100% - var(--space));
  background: hsla(5, 15%, 5%, 0.9);
}

.frame{
  width: 100%;
  height: 100%;
  padding: 7vmin;
  border: solid 2px var(--naples-yellow-2);
}

.c1 {
  margin: -50vh auto 0;
}

.c2 {
  margin: 50vh auto 0;
}

.image-container {
  position: sticky;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -2;
}

.image-container  img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-container::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(
    to bottom,
    hsla(5, 15%, 5%, 0) 0%,
    hsla(5, 15%, 5%, 0.013) 8.1%,
    hsla(5, 15%, 5%, 0.049) 15.5%,
    hsla(5, 15%, 5%, 0.104) 22.5%,
    hsla(5, 15%, 5%, 0.175) 29%,
    hsla(5, 15%, 5%, 0.259) 35.3%,
    hsla(5, 15%, 5%, 0.352) 41.2%,
    hsla(5, 15%, 5%, 0.45) 47.1%,
    hsla(5, 15%, 5%, 0.55) 52.9%,
    hsla(5, 15%, 5%, 0.648) 58.8%,
    hsla(5, 15%, 5%, 0.741) 64.7%,
    hsla(5, 15%, 5%, 0.825) 71%,
    hsla(5, 15%, 5%, 0.896) 77.5%,
    hsla(5, 15%, 5%, 0.951) 84.5%,
    hsla(5, 15%, 5%, 0.987) 91.9%,
    hsl(5, 15%, 5%) 100%
  );
}

@keyframes fadein {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*intro page*/
.intro-container{
  display: flex;
  flex-direction: column;
}

.intro-title, .intro-text{
  text-align: center;
  letter-spacing: 1px;
  word-spacing: 3px;
}

.intro-title{
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 40px;
  font-family: var(--title);
  color: var(--naples-yellow);
}

.intro-text{
  margin-top: 15px;
  font-size: 30px;
  color: var(--vanilla);
}

.intro-img {
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: 100%;
  height: auto;
}


/*signup page*/
.signup-page{
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  color: white;
}


/*topimages*/
.top-images-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.top-images-page img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}


/*tablet*/
@media (max-width: 1050px) and (min-width: 700px) {

  .content {
    font-family: var(--default);
    margin: -50vh auto 0;
  }
  
  .c1 {
    margin: -50vh auto 0;
  }
  
  .c2 {
    margin: 50vh auto 0;
  }

  .frame{
    width: 90%;
    height: 90%;
    padding: 7vmin;
    border: solid 2px var(--naples-yellow-2);
  }
  
  
  /*intro page*/
  .intro-text{
    font-size: 25px;
  }
  
  /*signup page*/
  .signup-page{
    gap: 40px;
  }

  
  .signup-form{
    padding: 22px;
    border: solid 5px var(--jasmine);
  }
  
  
  /* we are page*/
  .we-are-page p{
    margin-top: 30px;
    font-size: 25px;
  }
  
  .we-are-page h2{
    font-size: 32px;
  }
  
}

/*cellphone*/
@media (max-width: 480px) and (min-width: 350px) {
  /*layout*/
.footer {
  font-size: 30px;
}

.content {
  max-width: 280px;
}

.frame{
  padding: 7vmin;
  border: solid 2px var(--naples-yellow-2);
}

/*intro page*/
.intro-title{
  margin-top: 7px;
  margin-bottom: 7px;
  font-size: 18px;
}

.intro-text{
  margin-top: 7px;
  font-size: 14px;
}

.intro-img {
  margin-top: 7px;
  margin-bottom: 7px;
}

/*signup page*/
.signup-page{
  gap: 20px;
}

/*topimages*/
.top-images-page {
  gap: 12px;
}

.top-images-page img {
  margin-bottom: 12px;
}

}


