.profile-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    color: white;
  }
  
  .tab-buttons {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  
  .tab-buttons button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .tab-buttons button:hover {
    background-color: #555;
  }


  .card-list{
    color: black;
  }


  /****/
  .purchases-history {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }