.signup-modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--jasmine);
}

.signup-modal {
    border: var(--rich-black) 5px solid;
    background-color: var(--davys-gray);
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    min-height: 500px;
    min-width: 500px;
    padding: 40px;
    border-radius: 5px;
    max-height: 100%;
    transition: max-height 0.1s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
  
.signup-modal:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}
  
.signup-modal.login-active {
    height: 350px;
}
  
.signup-modal.popout {
    transform: scale(1.1);
}

.top-modal {
  --_gap: 2rem;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 25%;
}

.top-modal a {
  color: var(--jasmine);
  opacity: 0.7;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 25px;
}

.top-modal a.active {
  color: var(--naples-yellow-2);
  opacity: 1;
}

.top-modal a:hover,
.top-modal a:focus-visible {
  cursor: pointer;
  opacity: 1;
}

.top-modal li {
  overflow: hidden;
  position: relative;
  padding: calc(var(--_gap) / 2);
  min-inline-size: 3rem;
}

.top-modal li::after {
  content: '';
  position: absolute;
  inset-inline: 0;
  inset-block-end: 0;
  block-size: 3px;
  background-color: var(--naples-yellow-2);

  translate: var(--_translate, 0);
  scale: var(--_scale, 0) 1;
  transition:
    scale 100ms var(--_scale-delay, 0ms), 
    translate 200ms;
}

.top-modal li:hover ~ li {
  --_translate: -100%;
  --_scale-delay: 200ms;
}

.signup-modal-container:hover li {
  --_translate: 100%;
  --_scale-delay: 200ms;
}

.top-modal li:hover {
  --_scale: 1;
  --_translate: 0;
  --_scale-delay: 0ms;
}


.closeBtn{
    flex-grow: 1;
    text-align: center;
    padding: 15px;
    margin-left: -20px;
    margin-right: -20px;
    transition: background-color 0.3s ease;
    border: none;
    cursor: pointer;
}
  
  
  .close-btn {
    max-height: 65px;
    min-height: 55px;
    margin-top: 20px;
    color: var(--naples-yellow);
    background-color: var(--black);
    transition: box-shadow 0.2s ease;
    border-radius: 20px;
  }
  
  .close-btn:hover {
    background-color: var(--rose-quartz);
    transform: scale(1.01);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  }
  
  .close-btn.active {
    color: var(--seasalt);
    background-color: var(--naples-yellow-2);
  }
  



  
@media (max-width: 1050px) and (min-width: 700px) {
.signup-modal {
    border: var(--rich-black) 4px solid;
    margin-top: 80px;
    min-height: 500px;
    min-width: 500px;
    max-height: 600px;
    max-width: 500px;
    padding: 30px;
}
.top-modal {
  margin-left: 18%;
}
  
  
.signup-modal.login-active {
    height: 350px;
}

.closeBtn{
    padding: 12px;
    margin-left: -12px;
    margin-right: -12px;
}
  
  
  .close-btn {
    max-height: 45px;
    min-height: 45px;
    margin-top: 18px;
  }
  
}
  
@media (max-width: 480px) and (min-width: 350px) {
  .signup-modal {
    border: var(--rich-black) 3px solid;
    margin-top: 60px;
    min-height: 500px;
    min-width: 250px;
    max-width: 300px;
    max-height: 600px;
    padding: 20px;
}

.top-modal {
  margin-left: 0;
}
  
  
.signup-modal.login-active {
    height: 350px;
}

.closeBtn{
    padding: 10px;
    margin-left: -10px;
    margin-right: -10px;
    width: 150px;
}
  
  
  .close-btn {
    height: 35px;
    margin-top: 18px;
  }
}