body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-repeat: repeat;
  background-color: var(--cornsilk);
}

html {
  height: 100%;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 999;
  padding: 10px;
  margin: 0;
  font-size: 20px;
  font-family: var(--title);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: linear-gradient(to bottom, var(--rich-black), rgba(0, 0, 0, 0));
}

.left-side, .right-side{
  display: flex;
  flex-direction: row;
}

.nav-link {
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.links-container {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}
.cart-btn {
  background-color: rgb(93, 77, 31);
  margin-right: 6px;
}
.underline-effect {
	color: var(--naples-yellow);
	opacity: 0.8;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
  cursor: pointer;
}

.underline-effect:hover,
.underline-effect:focus-visible {
	opacity: 1;
}

nav li {
	overflow: hidden;
	position: relative;
	padding: 20px;
	min-inline-size: 3rem;
}

nav li::after {
	content: '';
	position: absolute;
	inset-inline: 0;
	inset-block-end: 0;
	block-size: 3px;
	background-color:var(--naples-yellow);
	translate: var(--_translate, 0);
	scale: var(--_scale, 0) 1;
	transition:
		scale 100ms var(--_scale-delay, 0ms), 
		translate 200ms;
}

nav li:hover ~ li {
	--_translate: -100%;
	--_scale-delay: 200ms;
}

nav:hover li {
	--_translate: 100%;
	--_scale-delay: 200ms;
}

nav li:hover {
	--_scale: 1;
	--_translate: 0;
	--_scale-delay: 0ms;
}

.nav-icon{
  display: none;
}



/*tablet*/
@media (max-width: 1050px) and (min-width: 700px) {  
  nav {
    height: 70px;
    align-items: center;
    margin: 0;
    font-size: 24px;
    background-image: linear-gradient(to bottom, var(--rich-black), var(--vanilla));
  }

  .nav-link {
    margin-top: 0px;
    padding: 0px;
    margin-left: 20px;
  }

  nav li {
    overflow: hidden;
    position: relative;
    padding: 0px;
    min-inline-size: 3rem;
  }
  
  .nav-icon {
    margin-top: 15px;
    margin-bottom: 20px;
    display: flex; 
    width: 40px; 
    height: 40px;
    margin-right: 0px;
    padding:0px;
    margin-left: 10px;
  }

  .nav-link{
    margin-left: 0;
    margin:0;
    justify-content: center;
    font-size: 0;
    padding: 0;
  }
  
  }
  
  /*cellphone*/
  @media (max-width: 480px) and (min-width: 350px) { 
    nav {
      height: 60px;
      align-items: center;
      margin: 0;
      font-size: 20px;
      font-family: var(--title);
      display: flex;
      flex-direction: row;
      background-image: linear-gradient(to bottom, var(--rich-black), var(--vanilla));
    }

    .nav-link {
      margin-top: 0px;
      padding: 0px;
    }

    nav li {
      overflow: hidden;
      position: relative;
      padding: 0px;
      min-inline-size: 3rem;
    }
    
    .nav-icon {
      margin-top: 15px;
      margin-bottom: 20px;
      display: flex; 
      width: 22px; 
      height: 22px;
      margin-right: 0px;
      padding:0px;
    }

    .nav-link{
      margin-left: 0;
      margin:0;
      justify-content: center;
      font-size: 0;
      padding: 0;
    }



  }
  
  
  